h1,h2,h3,p {
    font-family: Helvetica;
}

h1 {
    background-image: url("./Off-Platform-Project/img/pattern.jpeg");
    text-align: center;
    font-size: 100px;
    color: khaki;
}

.item h2 {
    color: white;
    font-size: 32px;
}

#brush {
    background-color: mediumspringgreen;
}

#frame {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.price {
    color: blue;
    font-weight: bold;
}